@use "_base.scss" as *;

// Layout for containers
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    //background-color: darkgray;
}
.calculator{
    height: 512px;
    width: 320px;
    justify-content: center;
    border: 8px solid whitesmoke;
    border-radius: 5px;  
    justify-content: center;
    background-color: black;
}
.display{
    //border: 1px solid royalblue;
    height: 20%;
    padding: 10px;
}

.keys{
    //border: 1px solid purple;
    height: 75%;
    color: white;   
    text-align: center; 
}

// @media only screen and (max-width: 768px) {
//     /* For mobile phones: */
    
//       width: 100%;
    
//   }




